/* =========================================
   PAGE
   ========================================= */

.burger-page {
  position: relative;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  background-color: var(--bg);
}


/* =========================================
   GRID
   ========================================= */

.burger-grid {
  position: absolute;
  top: 380px;
  left: 40px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}


/* =========================================
   SECTION ICONS
   ========================================= */

.fire-image {
  position: absolute;
  top: 320px;
  left: 22px;

  width: 70px;
  height: 70px;
}

.crown-image {
  position: absolute;
  top: 733px;
  left: 22px;

  width: 60px;
  height: 70px;
}


/* =========================================
   BURGER FILTER POSITION
   ========================================= */

.burger-filter-position {
  position: absolute;

  left: 230px;
  top: -6px;

  z-index: 20;
}


/* =========================================
   RECOMMENDED SECTION
   ========================================= */

.Recommendation-text {
  position: absolute;

  left: 90px;
  top: 322px;

  font-family: "Flame";
  color: var(--bk-brown);

  font-size: 30px;
  font-weight: 700;

  margin: 0;
}

.Recommendation-text2 {
  position: absolute;

  left: 90px;
  top: 353px;

  font-family: "Flame";
  color: var(--text-secondary);

  font-size: 20px;
  font-weight: 400;

  margin: 0;
}


/* =========================================
   PREMIUM SECTION
   ========================================= */

.Premium-text {
  position: absolute;

  left: 90px;
  top: 734px;

  font-family: "Flame";
  color: var(--bk-brown);

  font-size: 30px;
  font-weight: 700;

  margin: 0;
}

.Premium-text2 {
  position: absolute;

  left: 90px;
  top: 765px;

  font-family: "Flame";
  color: var(--text-secondary);

  font-size: 20px;
  font-weight: 400;

  margin: 0;
}


/* =========================================
   MORE OPTIONS
   ========================================= */

.more-header {
  position: absolute;

  top: 1165px;
  left: 40px;
  right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* =========================================
   MORE BURGER TITLE
   ========================================= */

.more-text {
  font-family: "Flame";

  color: var(--bk-brown);

  font-size: 30px;
  font-weight: 700;

  margin: 0;
}


/* =========================================
   VIEW ALL BURGERS
   ========================================= */

.view-all-btn {
  position: absolute;

  left: -100px;
  top: 0px;
  

  border: none;
  background: transparent;

  color: var(--bk-red);

  font-family: "Flame";
  font-size: 22px;
  font-weight: 600;

  margin: 0;
  padding: 0;

  cursor: pointer;

  transition: 0.2s ease;
}

.view-all-btn:hover {
  opacity: 0.8;
}

.view-all-btn:active {
  transform: scale(0.95);
}